.countdownWrapper {
    display: flex;
    justify-content: center; /* Center the countdownBox horizontally */
    align-items: center;
    height: 70vh;
}

.countdownBox {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    background-color: rgb(255, 153, 0);
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center;
}

.countdownTimer {
    text-align: center;
    font-size: 2em;
    color: green;
}

.countdownTime {
    font-size: 2em;
    margin-top: 10px; /* Add margin to separate h1 and countdownTime */
}
